.btn-group a {
	color: #ffd200;
}

.btn-group a:HOVER {
	color: white;
}

.text-container { 
	display: inline-block;
	//position: relative;
	overflow: hidden;
}

.clearBtn {
	position: absolute;
	//top: 0;
	margin-top: .5%;
	transition: right 0.2s;
}

.show {
	right: 5px;
}

.close-tag {
	font-size: 8px;
	margin-left: 5px;
}

.tags-textfield {
	border: none !important;
	box-shadow: none !important;
	outline: 0 !important;
	padding: 0 !important;
	margin: 5px 3px 0;
	background-color: transparent !important;
	height: 25px;
	width: 100%;
}

.Editor-editor:active, .Editor-editor:focus {
	color: #495057;
	background-color: #fff;
	border-color: #dcb12e;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.55);
}

.toolTip{
	width: 100%;
    background-color: rgb(255, 236, 153);
}
.toolTipHeader{
    background-color: #ffd200;
    text-align: center;
    font-weight: 600;
    line-height: 2;
}
.toolTipBody{
	line-height: 2;
    font-size: small;
}

.sticky {
  position: fixed;
  top: 50px;
  width: 350px;
}

 .sticky + .toolTip {
  padding-top: 102px;
} 


.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}


.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  //border-bottom: none;
  //border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  border-top: none;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
  float:left;
  width:20%;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

.post-tag {
    position: relative;
    display: "";
    float:left;
    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    font-size: 11px;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 2em;
    transition: all .15s ease-in-out;
    color: #000000;
    background-color: rgb(230, 230, 230);
    border-color: rgb(255, 255, 255);
    padding-left: .8em;
    zoom: 1.3;
}

.dropdown-menu{
		background-color: rgb(89, 89, 89);
    	text-align: center;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a{
	color:white;
	background-color: #fffafa00 !important;
	background-image: none;
	
}
a{
	color:none;
}